.filters{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 10px;
}

button:hover{
    opacity: 0.9;
}

.filters div{
    position: relative;
    height: 100%;
    width: 25%;
    margin-left: 4%;
    line-height: 6px;
}

.locations{
    border-right: 1px solid #DDDDDD;
}


h3{
    font-weight: 600;
}

h4{
    font-weight: 400;
    font-size: 14px;
}

ul{
    list-style-type: none;
    line-height: 150%;
}

.popver{
    background-color:#FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 22px;
    margin-left: -41px;
    height: 200px;
    list-style-type: none;
    visibility: hidden;
}

.locations:hover .popover, .amenities:hover .popover{
    visibility: visible;
}

.popover ul, .popover li {
  line-height: 160%;
}
.amenities .popover{
  padding-top: 20px;
  height: 150%
}